[Unit]
Description=Python Service to parse raw notification
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/notification-reader
ExecStart=/home/ubuntu/venv/bin/python3 /home/ubuntu/notification-reader/kafka_notification_processor.py
Restart=always
RestartSec=10
StandardOutput=append:/var/log/notification-parser/access.log
StandardError=append:/var/log/notification-parser/error.log
SyslogIdentifier=notification-parser

[Install]
WantedBy=multi-user.target